body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h2{
    background-color: #0bce2c;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

article {
    flex: 0 0 calc(50% - 20px);
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
